/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map-container { height: 180px; }


.carousel-inner {
  width: 100%;
}

.slide-pic {
  width: 100%;
}













