/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar-inverse { /*keeps top navbar in front of other content, full page width, and at very top of page*/
  top: 0;
  z-index: 5;
  width: 100%;
}


#map-container { height: 180px; }


.carousel-inner { 
  width: 100%;
}

.slide-pic {
  width: 100%; /*Makes sure pictures fill "frame"*/
}



.stats {  
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   width: 100%;
}

#pops { /*sets stat buttons in a vertical arrangement and sets them full width of page*/
  display: flex;
  width: 100%;
  background: #93C54B;
}

