/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map-container { height: 180px; }


.carousel-inner {
  width: 100%;
}

.slide-pic {
  width: 100%;
}



.stats {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   width: 100%;
}

#pops {
  display: flex;
  width: 100%;
  background: #93C54B;
}

/* #stats {
  width: 100%;
}

.stats-list {
  width: 100%;
  overflow: hidden;
  background: #93C54B;
  padding: 0;
  margin: 0;
}

.stat-wrapper {
}

.color-label {
  float: left;
  width: 50%;
  text-align: center;
  padding: 0;
  margin 0;
  border-bottom: medium solid white;
/*   border: medium dashed blue; */
/* } */

/* .data-text {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  border-bottom: medium solid white;
} */

/* .boxed-data {
/*   border: medium solid green; */
/* } */












